Repository hashgraph/hedera-json-rpc-relay: changes, and which Codecov flags are due for each by the changed paths.
All: relay, server, ws-server

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
  individual_components:
    - component_id: relay  # this is an identifier that should not be changed
      name: relay
      paths:
        - packages/relay/**
    - component_id: server  # this is an identifier that should not be changed
      name: server
      paths:
        - packages/server/**
    - component_id: ws-server  # this is an identifier that should not be changed
      name: ws-server
      paths:
        - packages/ws-server/**
coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%

fix: reduce test flakiness
  packages/relay/src/lib/clients/sdkClient.ts
  packages/server/tests/acceptance/hbarLimiter.spec.ts
  packages/server/tests/helpers/assertions.ts
Due: relay, server

chore: add codecov.yml configuration
  .github/workflows/acceptance.yml
  .github/workflows/test.yml
Due: none

fix: reduce test flakiness
  packages/server/tests/acceptance/hbarLimiter.spec.ts
Due: server

chore: fix codecov upload
  .github/workflows/acceptance.yml
  .github/workflows/test.yml
  .gitignore
  codecov.yml
  nx.json
  package.json
Due: none

chore: fix codecov upload
  .github/workflows/acceptance.yml
  .github/workflows/test.yml
Due: none

fix: reworked formatRequestIdMessage
  packages/relay/src/formatters.ts
  packages/relay/src/lib/clients/sdkClient.ts
  packages/relay/tests/lib/formatters.spec.ts
Due: relay

fix: reverted rework executeTransaction()
  packages/relay/src/lib/clients/sdkClient.ts
Due: relay

chore: replace action with run script for codecov.yml validation
  .github/workflows/acceptance.yml
  .github/workflows/test.yml
Due: none

chore: nit fix
  .github/workflows/acceptance.yml
  .github/workflows/test.yml
Due: none

fix: made shouldLimit optional in executeTransaction()
  packages/relay/src/lib/clients/sdkClient.ts
  packages/relay/tests/lib/sdkClient.spec.ts
Due: relay

feat: added executeAllTransaction() method
  packages/relay/src/lib/clients/sdkClient.ts
  packages/relay/tests/lib/sdkClient.spec.ts
Due: relay

feat: deprecate `ETH_POPULATE_SYNTHETIC_CONTRACT_RESULTS` env (#2768)
  docs/configuration.md
  packages/relay/src/lib/eth.ts
  packages/relay/tests/lib/eth/eth_getTransactionByHash.spec.ts
  packages/relay/tests/lib/ethGetBlockBy.spec.ts
  packages/server/tests/acceptance/rpc_batch1.spec.ts
  packages/server/tests/localAcceptance.env
Due: relay, server

fix: lerna build fails
  .gitignore
  nx.json
Due: none

chore: extract codecov upload logic in shell script
  .github/scripts/codecov-upload.sh
  .github/workflows/acceptance.yml
  .github/workflows/test.yml
Due: none

chore: remove if conditional on upload coverage step
  .github/workflows/acceptance.yml
  .github/workflows/test.yml
Due: none

Changing file permissions
  .github/scripts/codecov-upload.sh
Due: none

chore: updating file permissions
  .github/scripts/codecov-upload.sh
Due: none

fix: include ws-server unit tests into coverage
  packages/ws-server/package.json
Due: ws-server

fix: execute `codecov-upload.sh` script using `bash`
  .github/workflows/acceptance.yml
  .github/workflows/test.yml
Due: none

chore: add new comment every time for codecov report
  codecov.yml
Due: none

chore: remove Check Codecov Config step
  .github/workflows/acceptance.yml
  .github/workflows/test.yml
Due: none

chore: ignore dist folders in coverage report
  codecov.yml
Due: none

Update packages/relay/src/lib/clients/sdkClient.ts
  packages/relay/src/lib/clients/sdkClient.ts
Due: relay

fix: addressed comments
  packages/relay/src/lib/clients/sdkClient.ts
  packages/relay/tests/lib/sdkClient.spec.ts
Due: relay

fix: extracted handleExecuteAllError()
  packages/relay/src/lib/clients/sdkClient.ts
Due: relay

Feat: Added panels.
  charts/hedera-json-rpc/dashboards/webSocketServer.json
Due: none

feat: results of rust ethereum clients research
  tools/alloy-core-rs-example/.env.example
  tools/alloy-core-rs-example/.gitignore
  tools/alloy-core-rs-example/Cargo.lock
  tools/alloy-core-rs-example/Cargo.toml
  tools/alloy-core-rs-example/README.md
  tools/alloy-core-rs-example/src/main.rs
  tools/ethers-rs-example/.env.example
  tools/ethers-rs-example/.gitignore
  tools/ethers-rs-example/Cargo.lock
  tools/ethers-rs-example/Cargo.toml
  tools/ethers-rs-example/README.md
  tools/ethers-rs-example/src/greeter.json
  tools/ethers-rs-example/src/main.rs
  tools/web3rs-example/.env.example
  tools/web3rs-example/.gitignore
  tools/web3rs-example/Cargo.lock
  tools/web3rs-example/Cargo.toml
  tools/web3rs-example/README.md
  tools/web3rs-example/src/SimpleStorage.abi
  tools/web3rs-example/src/SimpleStorage.bin
  tools/web3rs-example/src/main.rs
Due: none

nit: update comment
  packages/server/tests/acceptance/hbarLimiter.spec.ts
Due: server

fix: renamed handleExecuteAllError to getTransactionMetrics and reuse it in executeTransaction
  packages/relay/src/lib/clients/sdkClient.ts
Due: relay

chore: Add docs for debugging of transactions
  docs/debugging-transactions.md
Due: none

Bump versions for v0.53.0-rc1
  README.md
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  charts/hedera-json-rpc/Chart.yaml
  docker-compose.yml
  docs/openrpc.json
  package-lock.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Due: relay, server, ws-server

Publish hedera-json-rpc-0.53.0-rc1.tgz hedera-json-rpc-relay-0.53.0-rc1.tgz hedera-json-rpc-relay-websocket-0.53.0-rc1.tgz
  charts/hedera-json-rpc-0.53.0-rc1.tgz
  charts/hedera-json-rpc-relay-0.53.0-rc1.tgz
  charts/hedera-json-rpc-relay-websocket-0.53.0-rc1.tgz
  charts/index.yaml
Due: none

Bump versions for v0.54.0-SNAPSHOT
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  charts/hedera-json-rpc/Chart.yaml
  docs/openrpc.json
  package-lock.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Due: relay, server, ws-server

fix: unit test mocks
  packages/relay/tests/lib/sdkClient.spec.ts
Due: relay

feat: reused executetransaction for methods in sdkclient and improved logging (#2749)
  packages/relay/src/formatters.ts
  packages/relay/src/lib/clients/sdkClient.ts
  packages/relay/tests/lib/formatters.spec.ts
  packages/relay/tests/lib/sdkClient.spec.ts
Due: relay

Bump versions for v0.54.0-SNAPSHOT (#2775)
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  charts/hedera-json-rpc/Chart.yaml
  docs/openrpc.json
  package-lock.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Due: relay, server, ws-server

feat: reused executetransaction for methods in sdkclient and improved… (#2776)
  packages/relay/src/formatters.ts
  packages/relay/src/lib/clients/sdkClient.ts
  packages/relay/tests/lib/formatters.spec.ts
  packages/relay/tests/lib/sdkClient.spec.ts
Due: relay
